h2 {text-align: center;}

.Container1{
    background-color:#51c4e9;
    height: 170px;
    position: relative;
    border-radius: 5px;
}

/* Chris */
.Container2{
    background-color: rgb(91, 231, 224);
    height: 215px;
    width: 500px;
    position: relative;
    bottom: 130px;
    margin: -8px;
    border-radius: 20px;
}

h1{
    color: #142d4c;
}

/* Educator */ 
.Container3{
    background-color: #ece6e6;
    height: 200px;
    width: 300px;
    position: relative;
    bottom: 450px;
    left: 195px;
    border-radius: 20px;
    }

/* Education */
.Container4{
    background-color:#f8d6a9;
    height: 200px;
    width: 300px;
    position: relative;
    bottom: 350px;
    left: 195px;
    border-radius: 20px
    }


 /* Research */
.Container5{
    background-color:rgb(175, 207, 255);
    height: 550px;
    width: 610px;
    position: relative;
    bottom: 345px;
    left: 390px;
    border-radius: 20px;
    }


.Container6{
    background-color:  rgb(233, 109, 109);
    height: 300px;
    position: static;
    border-radius: 10px;
    }



img {
    height: 180px;
}

.img2 {
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 500px;
    position: relative;
    bottom: -55px;
    left: 500px;
    border-radius: 20px;
}

/* Research */
.img3 {
    background-repeat: no-repeat;
    height: 420px;
    width: 600px;
    position: relative;
    bottom: 770px;
    left: 395px;
    border-radius: 20px;
}


  a {
    color: #142d4c;
    position: relative;
    text-decoration: none;
  }
  
  a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    border-radius: 4px;
    background-color: #ececec;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
  }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }