body {
    background-image: linear-gradient(180deg, rgb(107, 32, 150), rgb(255, 255, 255));
}

hr {
    border-style: ridge;
    border-color: black;
    width: 100%;

}

img {
    height: 250px;
    border-radius: 5px;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
