
.Container1{
    background-color:#51c4e9;
    height: 150px;
    position: relative;
    border-radius: 5px;
}

/* Gif */
.Container2{
    background-color: rgb(91, 231, 224);
    height: 175px;
    width: 360px;
    position: relative;
    bottom: 100px;
    margin: -8px;
    border-radius: 20px;
}


img {
    height: 400px;
}

.img1 {
    background-color: rgb(91, 231, 224);
    height: 150px;
    width: 150px;
    position: relative;
    top: 5px;
    left: 3px;
    margin: -7px;
    border-radius: 30px;  
}

.img2 {
    height: 380px; 
    width: 300px;
}

.img3 {
    height: 380px; 
    width: 300px;
}

.img4 {
  height: 360px; 
  width: 300px;
}

.card1 {
    /* Add shadows to create the "card" effect */
    width: 300px;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
    border-radius: 10px; /* 5px rounded corners */
    color: #51c4e9;
    
  }

  /* Add some padding inside the card container */
  .container3 {
    padding: 2px 5px;
  }

  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 10px 10px 0 0;
  }

  .card2 {
    /* Add shadows to create the "card" effect */
    width: 300px;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
    border-radius: 10px; /* 5px rounded corners */
    color: #51c4e9
  }

  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 10px 10px 0 0;
  }

  .card3 {
    /* Add shadows to create the "card" effect */
    width: 300px;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
    border-radius: 10px; /* 5px rounded corners */
    color: #51c4e9
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 10px 10px 0 0;
  }

  .card4 {
    /* Add shadows to create the "card" effect */
    width: 300px;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
    border-radius: 10px; /* 5px rounded corners */
    color: #51c4e9
  }

  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 10px 10px 0 0;
  }

  .card5 {
    /* Add shadows to create the "card" effect */
    width: 300px;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
    border-radius: 10px; /* 5px rounded corners */
    color: #51c4e9
  }

  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 10px 10px 0 0;
  }


  .card6 {
    /* Add shadows to create the "card" effect */
    width: 300px;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
    border-radius: 10px; /* 5px rounded corners */
    color: #51c4e9
  }

  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 10px 10px 0 0;
  }

a {
    color: #142d4c;
    position: relative;
    text-decoration: none;
  }
  
  a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    border-radius: 4px;
    background-color: #000000;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
  }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
