.Container1{
    background-color:rgb(91, 231, 224);
    height: 200px;
    position: static;
    border-radius: 5px;
}

/* Chris */
.Container2{
    background-color: rgb(176, 155, 235);
    height: 215px;
    width: 500px;
    position: relative;
    bottom: 100px;
    margin: -5px;
    border-radius: 20px;
}

/* Educator */ 
.Container3{
    background-color: rgb(91, 231, 224);
    height: 400px;
    width: 500px;
    position: relative;
    bottom: 100px;
    left: 100px;
    border-radius: 20px;
    }

/* Education */
.Container4{
    background-color:rgb(176, 155, 235);
    height: 200px;
    width: 300px;
    position: relative;
    bottom: 305px;
    left: 105px;
    border-radius: 20px
    }


 /* Research */
.Container5{
    background-color: rgb(176, 155, 235);
    height: 350px;
    width: 420px;
    position: relative;
    bottom: 750px;
    left: 400px;
    border-radius: 20px;
    }


.Container6{
    background-color: rgb(91, 231, 224);
    height: 300px;
    position: relative;
    border-radius: 10px;
    }



img {
    height: 170px;
}

.img2 {
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    position: relative;
    bottom: 200px;
    left: 510px;
    border-radius: 20px;
}


.img3 {
    background-repeat: no-repeat;
    height: 210px;
    width: 400px;
    position: relative;
    bottom: 970px;
    left: 410px;
    border-radius: 20px;
}
