body{
    background-image:url(https://i.gifer.com/DMvP.gif);
    background-position:center;
    background-size: contain;
    background-position-y: 250px;
    background-position-x: 650px;
    background-repeat: no-repeat;
    height: 500px
}
hr {
    border-style: ridge;
    border-color: black;
    width: 100%;

}

img {
    height: 350px;
    border-radius: 10px;

}
