
body{
    background-image:url(https://i.gifer.com/9bc1.gif);
    background-position:top;
    background-size: contain;
    background-repeat: no-repeat;
    

    }

hr {
    border-style: ridge;
    border-color: black;
    width: 100%;

}

img {
    border-radius: 3px;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
