body{
    background-image:url(https://i.gifer.com/origin/12/12a37b7fd1b659173d7c277da37f0260_w200.gif);
    background-position:center;
    background-size: contain;
    background-position-y: 300px;
    background-position-x: 350px;
    background-repeat: no-repeat;
    height: 350px
}
hr {
    border-style: ridge;
    border-color: black;
    width: 100%;

}

img {
    height: 350px;
    border-radius: 10px;

}
